$min-widths:(750px,970px,1174px)
$widths:(768px,992px,1200px)
$str: ("-sm-","-md-","-lg-")
.container
  width: 100%
@for $i from 1 through 12
  .col-#{$i}
    width: $i/12 * 100%
@for $j from 1 through 3
    @media  screen and (min-width: nth($min-widths,$j))
      .container
        width: nth($widths,$j)
    @for $i from 1 through 12
      .col#{nth($str,$j)}#{$i}
        width: $i/12 * 100%