
body{
    font-family: "Segoe UI Emoji",sans-serif;
    height: 1800px;
}
header{
    background: url("images/main-bg.jpg") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 38.8%;
    /*height: 700px;*/
}
header>h1{
    text-align: center;
    width: 500px    ;
font-size: 50px;
    color:white;
    padding-top: 20%;
}
#button{

    margin-left: 36.5%;
    width: 25%;
    height: 7%;
    border: 1px solid white;
    background-color: #FA3A5E;
    border-radius: 5px;
    text-align: center;
    padding-top: 1.3% ;
    font-size: 22px;
    font-weight: bold;
    color: white;
    transition: all 0.4s;
    user-select: none;
}
#button:hover{
    cursor: pointer;
    background-color: lightgray;
}
.button{
    width: 100%;
}


.content{
    font-family: "Segoe UI Emoji",sans-serif;
    text-align: center;

    background: white no-repeat;
    padding-top: 10px;
    font-weight: bold;
    color:#3E3E3E;
    height: 41.66%;
    /*height: 800px;*/
    overflow: hidden;

}
h1{
    margin: 1% auto;
    padding-top: 20px;

    font-weight: normal;

}
p{
    width: 500px;
    font-weight: bold;
    margin: 0 auto;
}
h1 + p{
    margin-top: 2%;
    width:700px;
}
div h2{
    margin-top: 30px;
}
.content img{
    margin-top: 20%;
    margin-left: 5%;
}

.description1,.description2,.description3{

    margin-top: 20px;
    width: 300px;
    float: left;
    display: inline-block;
}
.description1 {
    margin-left: 300px;
}
.blockafterimg{
    width:230px;

}
.logos{
    user-select: none;
}
.logos div{
    display: inline-block;
    margin-left: 10px;
    margin-top: 25px;
    width: 50px;
    height: 60px;
    background: url("images/sprite.png")
}
.logos .facebook{
    margin-left: 10px;
    background-position: 39.3% 43%;
}
.logos .google{
    background-position:  10.2% 43%;
}
.logos .twitter{
    margin-left: 10px;

    background-position:  14.2% 43%;
}
.logos .facebook:hover{

    background-position: 39.3% 81.8%;
}
.logos .twitter:hover {
    background-position:  14.2% 81.8%;
}
.logos .google:hover{
    background-position:  10.2% 81.8%;
}


.footer{
    margin-top: 10%;
    width: 100%;
    /*height: 400px;*/
    height: 19.44%;
    background-color: #242758;
}
.footer p{
    color:#677AB8;
}
.footer-content{
    text-align: center;
    vertical-align: center;
    padding-top: 10%;
}
.footer p span{
    color:white;
}


@media all and (max-width: 550px){

    #button.button-mbl{

        width: 55%;
        height:5.5%;
        padding-top: 2%;
        margin:-65% 20%;
        font-size: 19px;
        font-weight: normal;

    }
    .header-mbl>h1{

        display: inline-block;
        padding:70% 2.5%;
        font-size: 40px;
    }
    .h1-mbl+p{
        display: inline-block;
        margin-top: 4%;
        font-size: 12px ;
        margin-left: 0;
        overflow: visible;
        width: 100%;
    }
    .description1-mbl,.description2-mbl,.description3-mbl{
        width: 60%;
        margin-left: 19%;
        display: inline-block;

    }
    body{
        height: auto;
        margin: 0;
    }
    .footer-mbl{
         width: 100%;
        height: 250px;
    }
    .content-mbl{
        height: 2050px;
    }
    .header-mbl{
        background-size: 100% 100%;
        height: 700px;

        background-position: center;
        margin-left: -10px;

    }



}

