h1{
    padding-top: 20px;

    font-weight: normal;
}
.content{
    font-family: "Segoe UI Emoji",sans-serif;
    text-align: center;
    border: 2px solid #2D2D2D;
    background-color: #FFFCF5;
    padding-top: 10px;
    font-weight: bold;
    color:#3E3E3E;
    height: 800px;

}
div h2{
    margin-top: 30px;
}
p{
    width: 500px;
    font-weight: bold;
    margin: 0 auto;
}
img{
    margin-top: 10px;
    margin-left: 15px;
}

.description1,.description2,.description3{

    margin-top: 20px;
    width: 300px;
    float: left;
    display: inline-block;
}
.description1 {
    margin-left: 300px;
}
.blockafterimg{
    width:230px;
}




