body{
	font-family: verdana, sans-serif;
}

.block {
	width: 230px;
	border: 1px solid #73AD21;
	padding: 0;
	margin: 30px;
	display: inline-block;
}

img {
	width: 100%;
	overflow: hidden;
}

h3 {
	padding: 10px;
}

.block1 {
  box-shadow: 5px 10px 5px 0 green;
}
.block2{
	box-shadow: 0 0 5px 4px green;
}
.block3{
	box-shadow: 0 9px 3px -5px green;
}
.block4{
	box-shadow: 0 10px 0 -5px orange,0 -10px 0 -5px green;

}
.block5{
	box-shadow: inset 0 5px 5px 0 orange , 0 5px 0px green;
}

.block6 {
	box-shadow: 1px 1px 0px 0px orange,
	2px 2px 0px 0px orange,
	3px 3px 0px 0px orange,
	4px 4px 0px 0px orange,
	5px 5px 0px 0px orange,
	6px 6px 0px 0px orange,
	7px 7px 0px 0px orange,
	8px 8px 0px 0px orange,
	9px 9px 0px 0px orange,
	10px 10px 0px 0px orange;
}



