table{
    border:5px solid black;
}
td{
    width:30px;
    height: 30px;
    border: 2px solid white;
    border-right-color: lightgray;
    border-bottom-color: lightgray;

    background-color: gray;
}
.selected{
    background:transparent;
}
.flag{
    background: url("img/flag_icon.png") center no-repeat,gray;
    border-right-color: lightgray;
    border-bottom-color: lightgray;
}
.mine{

}
.selected.mine {
    background: url("img/mine_icon.png") center no-repeat,gray;
}
.selected.mine-detonate{
    background: url("img/mine_icon.png") center no-repeat,red;
}
.you_win:after{
    color:lime;
    font-size: 50px;
    position: absolute;
    left:450px;
    top:20px;
    content: "Вы победили!";
}
.you_lose:after{
    color:red;
    font-size: 50px;
    position: absolute;
    left:450px;
    top:20px;
    content: "Вы проиграли!";
}
.one{
    background: url("img/one.png") no-repeat center;
}
.two{
    background: url("img/two.png") no-repeat center;
}
.three{
    background: url("img/three.png") no-repeat center;
}
.four{
    background: url("img/four.png") no-repeat center;
}
.five{
    background: url("img/five.png") no-repeat center;
}
.six{
    background: url("img/six.png") no-repeat center;
}
.seven{
    background: url("img/seven.png") no-repeat center;
}
.eight{
    background: url("img/eight.png") no-repeat center;
}
.try{
    background: aqua;
}
.clear{

}
