div{
    margin-left: 29.34%;

    background-color: #F8E0E0;
    border:1px solid gray;
    text-align: center;
    width: 770px;
    height: 310px;
}
a{
    border:1px solid gray;
    padding: 10px 10px;
    text-decoration: none;
    transition: all 0.2s;
}
a:hover{
    background-color: gray;
    color: white;
}
#a2{
    background-color: #131161;
    color: white;
}
p{
    text-align: center;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 46em;
}
.block1 {
    margin-left: 445px;
    width: 48em;
}
.p1{
    font-size: 26px;
    font-weight: bold;
    margin-left: 29.5%;
}
body{
    font-family: "Segoe UI";
}
.ule{
    margin-left: 29%;
}