div{
    margin-left: 29.6%;

    background-color: #F8E0E0;
    border:1px solid gray;
    text-align: center;
    width: 770px;
    height: 310px;
}
a{
    border:1px solid gray;
    padding: 10px 10px;
    text-decoration: none;
    transition: all 0.2s;
}
a:hover{
    background-color: gray;
    color: white;
}
#a1{
    background-color: #131161;
    color: white;
}
p{
    text-align: center;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 46em;
}
.block1 {
    margin-left: 445px;
    width: 48em;
}
.block2,.block3{
    margin-left: 29.6%;
}
.p1{
    font-size: 26px;
    font-weight: bold;
    margin-left: 29.5%;
}
body{
    font-family: "Segoe UI";
}
table{
    border: 1px solid gray;
    border-collapse: collapse;

}
td{
    border:1px solid gray;
    text-align: center;
    background-color: #EFEFEF;
    height:40px;

}
.alternate{
    border: none;
    text-decoration: underline;
    color: blue;
}
.alternate:hover{
    background-color: transparent;
    border: none;
    color: blue;
}
ul{
    margin-left: 29%;
}
