div{
    margin-left: 29.34%;

    background-color: #F8E0E0;
    border:1px solid gray;
    text-align: center;
    width: 770px;
    height: 310px;
}
a{
    border:1px solid gray;
    padding: 10px 10px;
    text-decoration: none;
    transition: all 0.2s;
}
a:hover{
    background-color: gray;
    color: white;
}
#a3{
    background-color: #131161;
    color: white;
}
p{

    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 46em;
}
.block1 {
    width: 48em;
}
.p1{
    font-size: 26px;
    font-weight: bold;
    margin-left: 29.3%;
}


body{
    font-family: "Segoe UI";
}
table{
    border: 1px solid gray;
    border-collapse: collapse;
    margin-left: 580px;

}
td{
    border:1px solid gray;
    text-align: center;
    background-color: #EFEFEF;
    height: 40px;
}
th{
    border:1px solid gray;
    text-align: center;
    background-color: #EFEFEF;
    height: 40px;
}
.tdalt{
    height: 50px;
}
.tdcountry{
    text-align: left;
    padding-left: 0;
}
img{
    padding-left: 10px;
    padding-top: 5px;
}
.imgalt{
    padding-left: 0;
}
.mainimgalt{
    padding: 0;
}

table tbody td:nth-child(3){
    background-color: #F7F6A8;
}
table tbody td:nth-child(4){
    background-color: #DCE5E5;
}
table tbody td:nth-child(5) {
    background-color: #FFDAB9;
}
.gold{
    background-color: #EFCA00
}
.silver{
    background-color:#C0C0C0
}
.bronze{
    background-color:#B08458
}