.orbit{
    margin: 10%;
    width:500px;
    height: 500px;
    background-color: transparent;
    border: 5px solid black;
    border-radius: 50%;
    animation: aim 540s linear infinite;
}
.center{
    width: 200px;
    height: 200px;
    margin: 30%;
    background-image:radial-gradient(40% 40%,red,yellow,white);

    border-radius: 50%;
}

.little-orbit{

    margin: -11% 45%;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    animation: aim 360s linear infinite reverse;
}
.planet{
    margin: -12.5% 53%;
    width: 25px;
    height: 25px;
    background-color: green;

    border-radius: 50%;
}
.little-circle{
    margin: -2% 62%;
    width: 10px;
    height: 10px;
    background-color: gray;

    border-radius: 50%;
}
@keyframes aim  {
    to{
        transform: rotate(36000deg);
    }
}
