body{
	font-family: verdana, sans-serif;
}

.block{
	width: 100px;
	height: 100px;
	background-color: #ff9727;
	border: 1px solid #FF4000;
	margin: 40px auto;
	color: #ff6;
	position: relative;
	padding: 0;
}

.block div{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #5e9f00;
}

@keyframes example1{
	0% {left: 0; top: 0;}
	25% {left: 80px; top: 0;}
	50% {left: 80px; top: 80px;}
	75% {left: 0; top: 80px;}
	100% {left: 0; top: 0;}
}

.block1 div{
	animation-name: example1;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes example2{
	0% {left: 0; top: 0;}
	50% {transform: rotate(180deg); left: 80px;}
	100% {left: 0px; top: 0;}
}

.block2 div{
	animation-name: example2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}