* {
    margin: 0;
    padding: 0;
    transition: 0.3s;
}
html {
    height: 100%;
}
body {
    background: url("back.png");
    text-align: center;
}
.score {
    font-family: "Open Sans",sans-serif;
    font-size: 40px;

    margin-bottom: 10px;
}
.title{
    font-size: 30px;
    font-family: "Open Sans",sans-serif;
}
canvas {
    transition: box-shadow 0.3s;
    box-shadow: -5px 5px 10px yellow,5px -5px 10px purple;
    animation: pulse 1s linear infinite alternate paused;
}
#recs{
    font-family: "Open Sans",sans-serif;
    position: absolute;
    top:50px;
    font-size: 40px;
    color:orange;
    font-weight: bold;
    left:240px;
}
#records{
    font-family: "Open Sans",sans-serif;
    font-size: 22px;
    top:105px;
    left:180px;
    position: absolute;
    background: white;
    box-shadow: -5px 5px 10px red,5px -5px 10px red;
    width: 300px;
    height: 400px;
}
#start{
    top: 60px;
    left: 550px;
    position: absolute;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}
@keyframes pulse {
    50%{
       box-shadow: -15px 15px 10px red,15px -15px 10px palegreen;
    }
}