*{
	transition:all 0.5s ease-in-out;
}
body{
	font-family: verdana, sans-serif;
}

.block{
	width: 100px;
	height: 100px;
	background-color: #ff9727;
	border: 1px solid #FF4000;
	margin: 40px auto;
	color: #ff6;
	
}

.block1:hover{
	transform: translate(10px, 10px);
}

.block2:hover{
	transform: rotate(45deg);
}

.block3:hover{
	transform: scale(1.5, 2);
	background-color: red;
}

.block4:hover{
	transform: skewX(30deg);
}

.block7:hover{
	transform: rotateY(180deg);
}

.block8{
	transition: border-radius 1s,
				width 1s,
				background-color 1s;
	transition-duration: 3s;
	transition-timing-function:  ease, ease-out, linear;					
}

.block8:hover{
	border-radius: 50%;
	width: 400px;
	background-color: blue;

}

.block9{
	transition-property: width, border-radius, background-color;
	transition-duration: 1s, 2s, 5s;
	transition-timing-function:  ease, ease-out, linear;
}

.block9:hover{
	width: 20em;
	background-color: #00F;
	border-radius: 50%;
}

