*{

    transition-duration: 0.3s;
}
html,body{
    height: 1650px;
    margin: 0;
    scroll-behavior: smooth;
}
/*HEADER*/
header{
    box-sizing: border-box;
    width: 100%;
    height: 37%;
    text-align: center;
    background: url("images/s1.jpg") no-repeat center center;
    background-size: cover;
}
header>img{
    margin-top: 5%;
}
header ul{
    text-align: center;
    margin-top: 30px;
    list-style-type: none;
    margin-left: -5%;
}
header ul li{
    display: inline-block;
    margin-left: 2.3%;
}
header ul li>a:visited{
    color:lightgray;
}
header ul li>a:link{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color:lightgray;
    font-weight: 600;
}
header ul li>a:hover{
    color:#00997E;
}
header .have_a_good_day{
    padding-top: 8px;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 53px;
}
header .just_for_you{
    margin-top: -32px;
}
header .just_for_you hr{
    display: inline-block;
    width:110px;
	border:0.8px solid gray;
    opacity: 0.6;
    margin: 5px 28px;
}
header .just_for_you p{
    color:white;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
}
/*GET_YOUR_COPY_NOW*/
header .button_get{

    padding-top: 12px;
    margin: 70px auto;
    transition-duration: 0.3s;
    width: 250px;
    height: 35px;
    background-color:#50C3AF;
    border-radius: 35px;
    color:white;
}
header .button_get:hover{
    background-color: #00997E;
    cursor: pointer;
}
header .button_get a{
    font-family: 'PT Sans',sans-serif;
    font-weight: bold;
    font-size: 15px;
color:white;
}
header .button_get a:hover{
    color:white;
}
/*SECTION_2*/
#qualities{
    height: 20%;
    box-sizing: border-box;
    background-color: #EEEEEF;
    padding-top: 4%;
    text-align: center;
}
#qualities>div{
    display: inline-block;
    width: 15%;
}
#qualities div p{
    padding-top: 10px;
    font-weight: bolder;
    font-size: 16px;
    color:  black;
    font-family: 'PT Sans',sans-serif;
    width:100%;
}
#qualities div p+hr{
    width:80%;
    border:0.7px solid gray;
    opacity: 0.2;
}
#qualities div p~p{
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;

    color:gray;
}
/*SECTION_3*/
#preferences{
    padding-top: 4%;
    height: 23%;
    text-align: center;
}
#preferences>div{
    display: inline-block;
    width: 15%;
}
#preferences>div>p{
    font-family: 'PT Sans',sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color:  #40474e;
    padding-top: 5%;
    text-align: center;
}
#preferences>div>p+hr{
    width:80%;
    border: 0.8px solid gray;
    opacity: 0.15;
}
#preferences>div>p+hr+p{
    font-size: 14px;
    color:#787b80;
    font-weight: 500;
    width: 100%;
    line-height: 24px;
}
#preferences p+a{
    font-family: 'PT Sans', sans-serif;
    color:  #50c3af;
    font-size: 16px;
    font-weight: 400;
    transition-duration: 0.3s;
}
#preferences p+a:hover{
    color: #00997E;
}
/*FOOTER*/
footer{
    margin: 0;
    height: 16.3%;
    background-color: #50c3af;
    text-align: center;
}
footer .caption span{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color:white;
    font-weight: 700;

}
footer .caption{
    padding-top: 4%;

}
footer .caption hr{
    margin-top: 1.2%;
    width: 17%;
    border: 0.8px solid lightgray;
    opacity: 0.2;
}
footer .sites{

    width: 625px;
    height: 40px;

    margin: 20px auto;
    text-align: center;
    background: url("images/client.png");

}



a{
    transition-duration: 0.2s;
    user-select: none;
    text-decoration: none;

}

@media screen and (min-width:320px) and (max-width: 766px){
    header .just_for_you hr{
        width: 10%;
    }
    #qualities.qualities-mbl{
        height: 38%;

    }
    #qualities.qualities-mbl>div{
        display: block;
        margin: 0 auto;
        width: 200px;
    }
    #qualities.qualities-mbl>div img+p{

    }

    #preferences.preferences-mbl{
        height: 65%;
    }
    #preferences.preferences-mbl>div>img{
        width: 100%;
    }
    #preferences.preferences-mbl>div{
        width: 200px;
        display: block;
        margin: 20px auto;
    }
    footer .sites{
        width: 330px;
    }
    footer .sites_mobile{
        width: 330px;
        height: 50px;
        margin: 0 auto;
        background: url("images/client.png") 330px 0;

    }
}
@media screen and (min-width: 767px) and (max-width: 1250px){
    #qualities.qualities-mbl>div{
        width: 30%;
    }
    #preferences.preferences-mbl>div{
        width:30%;
    }
}
@media screen and (min-width: 320px) and (max-width: 450px){
    header .have_a_good_day{
        font-size: 40px;
    }
    header .just_for_you hr{
        width:10px;
    }
}

