div div{
    width: 50px;
    height: 60px;
    display: inline-block;
    background: url("sprite.png");


}
#facebook{
    margin-left: 5px;
    background-position: 39.3% 43%;
}
#google{
    background-position:  10.2% 43%;
}
#twitter{
    margin-left: 5px;

    background-position:  14.2% 43%;
}
#facebook:hover{

    background-position: 39.3% 81.8%;
}
#twitter:hover {
    background-position:  14.2% 81.8%;
}
#google:hover{
    background-position:  10.2% 81.8%;
}
div div:hover{
    cursor: pointer;
}



