#container{
    border: 5px solid gray;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    width:45%;
    max-width: 580px;
    align-items: center;
    justify-content: center;
}
.block{
    margin: 10px;
    flex-basis: 80px;
    height: 100px;
    flex-grow: 1;
}
.block:nth-child(2n){
    flex-grow: 2;
}
.blue_block{
    background-color: lightskyblue;
}
.yellow-block{
    background-color: yellow;
}

.purple_block{

    background-color: deeppink;
}
