.alert {
  width: 400px;
  padding: 10px;
  margin: 15px;
  border-radius: 3px; }
  .alert-primary {
    background-color: #cce5ff;
    color: #004085;
    border-color: #b8daff; }
  .alert-secondary {
    background-color: #e2e3e5;
    color: #383d41;
    border-color: #d6d8db; }
  .alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb; }
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb; }

/*# sourceMappingURL=task5.css.map */
