$primary-colors: ( #cce5ff, #004085, #b8daff)
$secondary-colors: ( #e2e3e5, #383d41, #d6d8db)
$success-colors: ( #d4edda, #155724, #c3e6cb)
$danger-colors: ( #f8d7da, #721c24, #f5c6cb)
$colors: (primary: $primary-colors,secondary: $secondary-colors,success: $success-colors,danger: $danger-colors)
.alert

  width: 400px
  padding: 10px
  margin: 15px
  border-radius: 3px
  @each $key, $value in $colors
    &-#{$key}
      background-color: nth($value,1)
      color: nth($value,2)
      border-color: nth($value,3)