body{
	font-family: verdana, sans-serif;
}

.block{
	width: 250px;
	margin: 20px;	
	padding: 20px;
	border: 20px solid transparent;
	width: 250px;
	display: inline-block;	
}

.block1 {
	border-image: url(border-1.png) 40 round;
}

.block2 {
	border-image: url(border-1.png) 30 round;
}

.block3 {
	border-image: url(border-1.png) 40 round;

	border-image-repeat: stretch;
}
.block4 {
	border-image: url(border-1.png) 59.3 round;
}
.block5 {
	border-image: url(border-1.png) 30 37 round;
}
.block6{
	border-image: url(border-1.png) 55 50 round;
}

