div:after {
  content: "This is the end of the div"; }

p:after {
  content: "This is the end of the p"; }

section:after {
  content: "This is the end of the section"; }

/*# sourceMappingURL=task4.css.map */
