
.container{
	width: 80%;
	border: 1px solid;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
}

.row{
	width: 100%;
	box-sizing: border-box;
}

.row:after{
	display: block;
	content: "";
	clear: both;	
}

[class*="col-"]{
	float: left;
	box-sizing: border-box;
	padding: 10px;

}

.col-xs-1{width:8.33%;}
.col-xs-2{width:16.67%;}
.col-xs-3{width:25%;}
.col-xs-4{width:33.33%;}
.col-xs-5{width:41.67%;}
.col-xs-6{width:50%;}
.col-xs-7{width:58.33%;}
.col-xs-8{width:66.67%;}
.col-xs-9{width:75%;}
.col-xs-10{width:83.33%;}
.col-xs-11{width:91.67%;}
.col-xs-12{width:100%;}
