body{
	font-family: verdana, sans-serif;
}

.block {
	width: 150px;	
	padding: 20px;
	margin: 10px;
	display: inline-block;
	border: 2px solid #73AD21;
}


.block1 {
	border-radius: 35px;
}
.block2{
	border-radius: 35px 10px;
}
.block3{
	border-radius: 35px 10px 0 10px;
}
.block4{
	border-radius: 100px/30px ;
}
.block5{
	border-radius: 100px 100px 100px 120px/40px 80px 50px 100px   ;
}

