.clock{
    box-sizing: padding-box;
    margin-top: 10%;
    padding-top: 25%;
    width:800px;
    height:800px;
    background: url("clockface.png") no-repeat;
    background-size: 100% ;
}
.circle{
width: 650px;
    height: 650px;
    margin: -295px auto;
    animation: aim 60s steps(60,end) infinite;
}
.circle1{
    width: 650px;
    height: 650px;

    margin: -645px auto;

    animation: aim 3600s linear infinite;
}
.circle2{
    width: 650px;
    height: 650px;
    margin-left: 9%;


    animation: aim 216000s linear infinite;
}
.sec_arrow{
    margin-left: 45.2%;
    width:60px;
    height: 500px;

    background: url("clockhands.jpg.png") 80% 20% no-repeat;

}
.min_arrow{
    margin-left: 45.7%;
    width:60px;
    height: 500px;
    background: url("clockhands.jpg.png") 60% 20% no-repeat;
}
.hour_arrow{
    margin-left: 44%;
    width:90px;
    height: 500px;
    background: url("clockhands.jpg.png") 27.5% 20% no-repeat;
}
@keyframes aim {
    to{
        transform: rotate(360deg);
    }
}
