a{
    border:2px solid #B0C7D8;
    padding: 10px;
    width:auto;
    height:26px;
    color:#877160;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    float: left;
    margin-left: 25px;
    font-size: 22px;
}
a:hover{
    background-color: #607788;
    color:white;

}
li{
    list-style-type: none;
}