div div{

    width: 50px;
    height: 50px;
    border:1px solid gray;
    background-color: white;
    display: inline-block;
    margin: -2px;

}
div{

    width: 450px;
    height: 450px;
    user-select: none;
}
div div:nth-child(8),
div div:nth-child(9n+2),
div div:nth-child(9n+4):nth-child(-n+48),
div div:nth-child(9n+6):nth-child(-n+30),
div div:nth-child(9n+9),
div div:nth-child(9n+25),
div div:nth-child(9n+41),
div div:nth-child(57)
{
background-color: black;
}
div div:nth-child(16n+9){
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/200px-Smiley.svg.png");
    background-size: 50px 50px;
}
div div:nth-child(3n):before{
    content: "A";
}
