
.rating{

    position: relative;
    width: 600px;
    height:88px;
    list-style-type: none;
    background:  url("rating2.png") left bottom;
    margin: 10px 10px;
    opacity: .99;
}

div{
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}
.rating .current{

    z-index: 1;
    height: 88px;
    background: url("rating2.png") ;
    margin-top: -26px;
    margin-left: -20px;
}
.current#a1{
width: 37%;

}
.current#a2{
    width: 47%;

}
.current#a3{
    width: 53.3%;

}
.current#a4{
    width: 98%;

}


