.tree{
    margin:20% auto;
    width:400px;
    height:300px;
    background: url("Bare_Tree.svg") no-repeat;
    background-size: cover;
}
.circles div{
    transition-duration: 0.3s;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: limegreen;
    border: 5px solid white;
    border-radius: 50%;
}
.circles.circle1{
    width: 200px;
    height: 200px;
    margin-left: 90px;
    margin-top: -120px;
    background:limegreen url("hand.png") 30% 35% no-repeat;
}
.circles.circle2{
    margin-left: 10px;
    margin-top: 20px;
    width:150px;
    height: 150px;
    background: limegreen url("forest.png") 40% 40% no-repeat;
}
.circles.circle3{
    margin-left: 220px;
    margin-top: -30px;
    width: 150px;
    height: 150px;
    background: limegreen url("pruners.png") 35% 20% no-repeat;
}
.circles.circle4{
    width:120px;
    height: 120px;
    margin-top: 105px;
    margin-left: 210px;
    background: limegreen url("sprout.png") no-repeat;
}

.circles div:hover{
    z-index: 1;
    cursor: pointer;
    background-color: yellow;
    transform: scale(1.2);
}
.circles div:active{
    background-color: aqua;
}
.circles.circle1:hover:before{
    position: absolute;
    content: "Зарплата";
    border: 2px solid green;
    color:red;
    font-weight: bold;
    font-family: "Segoe UI",sans-serif;
    font-size: 18px;
    padding: 10%;
    margin: -70px 30px;
}
.circles.circle2:hover:before{
    position: absolute;
    content: "Дерева";
    border: 2px solid green;
    color:red;
    font-weight: bold;
    font-family: "Segoe UI",sans-serif;
    font-size: 18px;
    padding: 10%;
    margin-left: -100px;

}
.circles.circle3:hover:before{
    position: absolute;
    content: "Ножиці";
    border: 2px solid green;
    color:red;
    font-weight: bold;
    font-family: "Segoe UI",sans-serif;
    font-size: 18px;
    padding: 10% 20% 10% 15%;
    margin:50px 160px;

}
.circles.circle4:hover:after{
    position: absolute;
    content: "Вирощування";
    border: 2px solid green;
    color:red;
    font-weight: bold;
    font-family: "Segoe UI",sans-serif;
    font-size: 18px;
    padding: 10%;
    margin:130px 20px;
}